# Local .terraform directories
**/.terraform/*
.terraform/

# .tfstate files (CRITICAL: Never commit these. You are using remote S3 state anyway)
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Terraform Plan Files
*.tfplan
*.plan
tfplan

*.tfvars
*.tfvars.json
*auto.tfvars

# Keys & Certificates
*.pem
*.key
*.pub

# OS & IDE Files
.DS_Store
.vscode/
.idea/
*.swp